.block {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background: #0007;
}
.pop-up {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60%;
	height: 55%;
	box-shadow: 2px 2px 10px 1px #262626;
	border-radius: 15px;
	background: #414141;
	transform: translate(-50%, -50%);
	z-index: 101;
}
.hide {
	display: none;
}
