.Table table {
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0px 2px 9px 1px #262626;
	border-radius: 10px;
}

.Table tr {
	text-align: center;
	color: #faf5e4;
	border-bottom: 1px solid #faf5e4;
}

.Table th,
td {
	padding: 12px;
	text-align: left;
	font-size: 16px;
}

tr:last-child {
	border-bottom: 0;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

tr:last-child td {
	padding-bottom: 15px;
}

tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}

.Table .tableFooter {
	display: flex;
	padding: 3px;
	justify-content: space-around;
	font-size: 18px;
	color: white;
	margin: 20px auto;
	align-items: center;
}

.Table .tableFooter .tableFooter-left-area {
	display: flex;
	font-size: 16px;
	justify-content: center;
	flex: 1;
}

.Table .tableFooter .tableFooter-left-area select {
	background: none;
	font-size: 14px;
	color: white;
	border: none;
	width: 3.5em;
}

.Table .tableFooter .tableFooter-center-area {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.Table .tableFooter .tableFooter-center-area .page-num {
	width: 2em;
	text-align: center;
}

.Table .tableFooter .tableFooter-right-area {
	display: flex;
	justify-content: center;
	flex: 1;
}

.Table .tableFooter .tableFooter-right-area .print-page button {
	margin: 10px;
	border: none;
	border-radius: 10px;
	width: 5em;
	height: 2.2em;
	font-size: 16px;
	color: white;
}

.Table .tableFooter .tableFooter-right-area .print-page #print-button {
	background: #339999;
}
.Table .tableFooter .tableFooter-right-area .print-page #print-button:hover {
	background: #44a3af;
}
.Table .tableFooter .tableFooter-right-area .print-page #print-button:active {
	background: #1b7c85;
}

.Table .tableFooter .tableFooter-right-area .print-page #back-to-search {
	background: #fd8008;
}
.Table .tableFooter .tableFooter-right-area .print-page #back-to-search:hover {
	background: #fd9526;
}
.Table .tableFooter .tableFooter-right-area .print-page #back-to-search:active {
	background: #ed6b00;
}

.Table .tableFooter .pageBtn {
	font-size: 20px;
	width: 2.7em;
	height: 2.7em;
	margin: 10px 20px;
	background: none;
	border: none;
	color: silver;
	border-radius: 100%;
}
.Table .tableFooter .pageBtn:hover {
	background: rgba(100, 100, 100, 0.1);
	color: white;
	box-shadow: 0 0 10px -1px #262626;
}

.Table .tableFooter .pageBtn:active {
	background: rgba(60, 60, 60, 0.1);
}

tr.rowContent:hover {
	box-shadow: 0 0 25px -5px #161616;
	background: rgba(100, 100, 100, 0.7);
}

tr.in-stock-out {
	background: #d04848;
}
tr.in-stock-in {
	background: #499a49;
}
tr.in-stock-out:hover {
	box-shadow: 0 0 25px -5px #161616;
	background: #e04f5a;
}
tr.in-stock-in:hover {
	box-shadow: 0 0 25px -5px #161616;
	background: #5bbd5b;
}

.Table .data-code {
	width: 8em;
}

.Table .data-name {
	width: 8em;
}

.Table .data-remain-num {
	width: 4em;
	text-align: center;
}

.Table .data-input {
	width: 10em;
	text-align: center;
}
.Table .data-input form {
	display: flex;
	justify-content: space-between;
}

.Table .data-input input {
	font-size: 14px;
	width: 2em;
	text-align: center;
	border-radius: 10%;
	border: none;
	line-height: 1em;
}

.Table .data-input button {
	font-size: 16px;
	width: 2.5em;
	height: 1.5em;
	border: none;
	border-radius: 10%;
	color: white;
	margin: 0 5px;
}

.Table .data-input button.in-stock-out {
	background: #802d12;
}
.Table .data-input button.in-stock-out:hover {
	background: #903d22;
}

.Table .data-input button.in-stock-out:active {
	background: #701c02;
}

.Table .data-input button.in-stock-in {
	background: #186d17;
}
.Table .data-input button.in-stock-in:hover {
	background: #227e32;
}

.Table .data-input button.in-stock-in:active {
	background: #075a09;
}

.Table .data-input button.not-checked {
	background: #347474;
}
.Table .data-input button.not-checked:hover {
	background: #47a6a7;
}

.Table .data-input button.not-checked:active {
	background: #275859;
}

.Table .data-input button.remove {
	background: grey;
}

.Table .data-input button.remove:hover {
	background: #aaadaf;
}

.Table .data-input button.remove:active {
	background: #57595a;
}
