.main_management_view_wrappr {
	background: #353535;
	overflow: auto;
	height: 100vh;
}

.main_management_view_wrappr .nav {
	display: flex;
	height: 60px;
	width: 100%;
	background: #347474;
	align-items: center;
	color: #fff1cf;
	box-shadow: 0 3px 12px -1px #262626;
	border-radius: 0 0 5px 5px;
	z-index: 10;
}

.main_management_view_wrappr .nav .left_area {
	font-size: 24px;
	width: 33.33%;
	height: 100%;
	display: flex;
	align-items: center;
}

.main_management_view_wrappr .nav .left_area img {
	height: 100%;
	width: auto;
	margin: 10px 15px;
}

.main_management_view_wrappr .nav .center_area {
	font-size: 26px;
	width: 33.33%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main_management_view_wrappr .nav .right_area {
	font-size: 20px;
	height: 100%;
	width: 33.34%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 40px;
}

.main_management_view_wrappr .nav .right_area button {
	margin: 0 10px;
	width: 60px;
	height: 30px;
	background: #015668;
	border: none;
	color: #fff1cf;
	font-size: 14px;
}

.main_management_view_wrappr .nav .right_area button:hover {
	background: #00909e;
	border: 1px solid #a5a5a5;
}

.round {
	border-radius: 10px;
}

.main_management_view_wrappr .content_area {
	padding: 50px;
	margin: 80px auto;
	width: 80%;
	border-radius: 10px;
	background: #414141;
	box-shadow: 3px 3px 12px -1px #262626;
	height: ;
}

.main_management_view_wrappr .top-bar {
	display: flex;
	height: 50px;
	align-items: center;
	margin-bottom: 30px;
}

.main_management_view_wrappr .top-bar a {
	width: 3em;
	height: 3em;
	border: none;
	background: #555656;
	font-size: 18px;
	border-radius: 100%;
	margin: 0 10px;
	color: #dfe6e9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main_management_view_wrappr .top-bar a:hover {
	background: #808080;
}

.main_management_view_wrappr .top-bar .active-link {
	background: #ff5800;
}

.main_management_view_wrappr .top-bar .active-link:hover {
	background: #fd8f2a;
}

.main_management_view_wrappr .top-bar div {
	flex: 1;
	display: flex;
	justify-content: center;
}
