@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: "Roboto Mono", monospace;
}

.main_management_view_wrappr {
	height: 100%;
	overflow: auto;
}

.main_management_view_wrappr .nav {
	display: flex;
	height: 80px;
	width: 100%;
	background: #015668;
	align-items: center;
	color: #fff1cf;
}

.main_management_view_wrappr .nav .left_area {
	font-size: 24px;
	width: 33.33%;
	height: 100%;
	display: flex;
	align-items: center;
	border-bottom-left-radius: 20px;
	background: #263f44;
}

.main_management_view_wrappr .nav .left_area img {
	height: 100%;
	width: auto;
	margin: 10px 15px;
}

.main_management_view_wrappr .nav .center_area {
	font-size: 26px;
	width: 33.33%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #263f44;
}

.main_management_view_wrappr .nav .right_area {
	font-size: 20px;
	height: 100%;
	width: 33.34%;
	border-bottom-right-radius: 20px;
	display: flex;
	align-items: center;
	background: #263f44;
	justify-content: flex-end;
	padding-right: 40px;
}

.main_management_view_wrappr .nav .right_area button {
	margin: 0 10px;
	width: 50px;
	height: 50px;
	background: #015668;
	border: none;
	color: #fff1cf;
	font-size: 14px;
}

.main_management_view_wrappr .nav .right_area button:hover {
	background: #00909e;
	border: 1px solid #a5a5a5;
}

.round {
	border-radius: 100%;
}

.main_management_view_wrappr .content_area {
	background: #015668;
	height: calc(100vh - 80px);
	overflow: auto;
}
