.pick-up-view-wrapper {
	margin: 30px auto;
	width: 80%;
	height: 80%;
	border: 2px solid #bbe1fa;
	border-radius: 20px;
	background: #263f44;
}

.pick-up-view-wrapper .search-center-area {
	margin: 30px auto;
	width: 80%;
}

.pick-up-view-wrapper .search-center-area .search-bar form {
	height: 50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	margin-bottom: 20px;
}

.pick-up-view-wrapper .search-center-area .search-bar input {
	max-width: 50%;
	border: none;
	border-bottom: 1px solid #cccccc;
	background: none;
	font-size: 18px;
	color: #fff1cf;
	margin-right: 10px;
}

.pick-up-view-wrapper .search-center-area .search-bar button {
	width: 50px;
	height: 50px;
	border: none;
	background: #015668;
	font-size: 18px;
	border-radius: 100%;
	margin-left: 10px;
}

.pick-up-view-wrapper .search-center-area .search-bar button:hover {
	background: #00909e;
	border: 1px solid #a5a5a5;
}

.pick-up-view-wrapper .search-center-area .search-result table {
	width: 100%;
	border-collapse: collapse;
}

tr {
	text-align: center;
	color: #fff1cf;
}

td {
	padding: 10px;
}

table,
th,
td {
	border: 1px solid #bbe1fa;
}

::placeholder {
	color: #cccccc;
}
