.print-stock-out {
	margin: 30px auto;
	width: 85%;
}
.print-stock-out table {
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0px 2px 9px 1px #262626;
	border-radius: 10px;
	margin-top: 100px;
}

.print-stock-out tr {
	text-align: center;
	color: #faf5e4;
	border-bottom: 1px solid #faf5e4;
}

.print-stock-out th,
td {
	padding: 10px;
	text-align: left;
}

.print-stock-out td.data-code,
th.data-code {
	width: 8em;
}

.print-stock-out td.data-name,
th.data-name {
	width: 12em;
}

.print-stock-out .data-remain-num {
	width: 4em;
	text-align: center;
}

.print-stock-out .data-stock-out-input {
	width: 9em;
}

.print-stock-out .data-stock-out-input input {
	font-size: 14px;
	width: 3em;
	text-align: center;
	border-radius: 10%;
	border: none;
}

.print-stock-out .data-stock-out-input button {
	font-size: 14px;
	width: 4em;
	height: 2em;
	margin-left: 1em;
	background: #347474;
	border: none;
	border-radius: 10%;
	color: white;
}
.print-stock-out .data-stock-out-input button:hover {
	background: #47a6a7;
}

.print-stock-out .data-stock-out-input button:active {
	background: #275859;
}
