.pick-up-view-wrapper {
	height: 100%;
}

.pick-up-view-wrapper .search-center-area {
	margin: 30px auto;
	width: 50%;
	height: 80%;
	border: 2px solid #bbe1fa;
	border-radius: 20px;
	background: #263f44;
}

.pick-up-view-wrapper .search-center-area .search-bar {
	width: 50%;
	height: 50px;
	display: flex;
	padding: 10px;
	margin-left: auto;
	margin-right: 10px;
	margin-top: 20px;
	max-width: 300px;
	min-width: 100px;
}

.pick-up-view-wrapper .search-center-area .search-bar input {
	width: 70%;
	border: none;
	border-bottom: 1px solid #cccccc;
	background: none;
	font-size: 16px;
	color: #fff1cf;
	line-height: 200px;
	margin: 5px 10px 5px;
}

.pick-up-view-wrapper .search-center-area .search-bar button {
	width: 30%;
	height: 100%;
	border: none;
	background: #015668;
	font-size: 18px;
	border-radius: 30px;
}

.pick-up-view-wrapper .search-center-area .search-result table {
	margin: 15px auto;
	width: 70%;
	display: table;
	border-collapse: collapse;
}
tr {
	text-align: center;
	color: #fff1cf;
}

table,
th,
td {
	border: 1px solid #bbe1fa;
}

::placeholder {
	color: #cccccc;
}
